body {
    background-color: hsl(30, 54%, 90%)
}

.main_principal {
    background-color: white;
    width: 50%;
    margin: 0 auto;
    /* Centra el elemento horizontalmente */
    display: flex;
    flex-direction: column;
    /* Asegura que los elementos hijos se apilen verticalmente */
    align-items: center;
    padding: 25px;
    border-radius: 25px;
}

.imagen_omellette_contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen_omellette {
    width: 70%;
    border-radius: 25px;
}

h1 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

p {
    font-family: "Outfit", serif;
    font-style: normal;
}

.preparation_time {
    background-color: hsl(330, 100%, 98%);
    padding: 10px;
    border-radius: 25px;
}

h3 {
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
}

h4 {
    color: hsl(332, 51%, 32%);
    font-family: "Outfit", serif;
    font-style: normal;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 16px;
    text-align: left;
}

th,
td {
    border-bottom: 1px solid black;
    padding: 8px;
    font-family: "Outfit", serif;
}

.td_1 {
    padding-left: 25px;
    color: hsl(30, 10%, 34%)
}

.td_2 {
    padding-left: -45px;
    color: hsl(332, 51%, 32%);
}

th {
    border-bottom: 1px solid black;
    padding: 8px;
    text-align: left;
}

.nutrition {
    color: hsl(30, 10%, 34%)
}

li{
    padding: 5px;
    font-family: "Outfit", serif;
    color: hsl(30, 10%, 34%);
}

.attribution {
    font-family: "Outfit", serif;
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }