body {
    background-color:hsl(30, 54%, 90%)
}

.main_principal {
    background-color: white;
    width: 70%;
    margin: 0 auto; /* Centra el elemento horizontalmente */
    display: flex;
    flex-direction: column; /* Asegura que los elementos hijos se apilen verticalmente */
    align-items: center; 
    padding: 25px;
}

.imagen_omellette_contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen_omellette {
    width: 70%;
    border-radius: 25px;
}

h1 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

p {
    font-family: "Outfit", serif;
    font-style: normal;
}

.preparation_time{
    background-color: hsl(330, 100%, 98%);
    padding: 5px;
}

h4 {
    color: hsl(332, 51%, 32%);
    font-family: "Outfit", serif;
    font-style: normal;
}